{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('module') }}">{{ title_page }}</a></li>
                <li class="active">Modification du module : {{ entity.libelle }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-6 -->
        {{ form_start(edit_form, {'attr' : {'class' : 'form-horizontal' }} ) }}
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Libellé</label>
                        {{ form_errors(edit_form.libelle) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.libelle, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Libellé court</label>
                        {{ form_errors(edit_form.libelleCourt) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.libelleCourt, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Planification du module</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Durée en heures</label>
                        {{ form_errors(edit_form.dureeEnHeures) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.dureeEnHeures, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durée en semaines</label>
                        {{ form_errors(edit_form.dureeEnSemaines) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.dureeEnSemaines, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-amber">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Prix public en cours</label>
                        {{ form_errors(edit_form.prixPublicEnCours) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.prixPublicEnCours, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Type de module :</label>
                        {{ form_errors(edit_form.speciality) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.speciality, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Détails du module</label>
                        {{ form_errors(edit_form.detail) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.detail, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
                <a href="{{ path('module') }}"><button class="btn btn-primary">Revenir à la liste des modules</button></a>
            </div>
        </div>
        {{ form_end(edit_form) }}
        <!-- end col-6 -->
    </div>
{% endblock %}