{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li class="active"><a href="{{ path('module') }}">{{ title_page }}</a></li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-10 -->
        {% if entities %}
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ title_page }}</h4>
                    </div>
                    <div class="panel-body">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Libellé court</th>
                                <th>Libellé</th>
                                <th>Spécialité</th>
                                <th>Date de création</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td><a href="{{ path('module_show', { 'id': entity.id }) }}">{{ entity.libelleCourt }}</a></td>
                                    <td>{{ entity.libelle }}</td>
                                    <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('d-m-Y') }}{% endif %}</td>
                                    <td>{{ (entity.speciality) ? entity.speciality.labelSpeciality }}</td>
                                    <td>
                                        <a href="{{ path('module_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                        {% if is_granted('ROLE_ADMIN') == true %}
                                            <a href="{{ path('module_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end panel -->
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">Aucun module de disponible</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('module_new') }}"><button type="button" class="btn btn-sm btn-success">Enregistrer un nouveau module</button></a>
            </div>
        </div>
    </div>
{% endblock %}
