{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-lg-12">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb hidden-print pull-right">
            <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
            <li><a href="{{ path('module') }}">Modules</a></li>
            <li class="active">Créer un nouveau module</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
</div>
<hr>
<!-- begin row -->
<div class="row">
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin col-6 -->
    {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
    <div class="col-md-6">
        <!-- begin panel -->
        <div class="panel panel-primary" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">{{ title_page }}</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Libellé</label>
                    <div class="col-md-9">
                        {{ form_errors(form.libelle) }}
                        {{ form_widget(form.libelle, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Libellé court</label>
                    <div class="col-md-9">
                        {{ form_errors(form.libelleCourt) }}
                        {{ form_widget(form.libelleCourt, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <div class="col-md-6">
        <!-- begin panel -->
        <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Planification du module</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Durée en heures</label>
                    <div class="col-md-9">
                        {{ form_errors(form.dureeEnHeures) }}
                        {{ form_widget(form.dureeEnHeures, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Durée en semaines</label>
                    <div class="col-md-9">
                        {{ form_errors(form.dureeEnSemaines) }}
                        {{ form_widget(form.dureeEnSemaines, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-amber" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Informations générales</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Prix public en cours</label>
                    <div class="col-md-9">
                        {{ form_errors(form.prixPublicEnCours) }}
                        {{ form_widget(form.prixPublicEnCours, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Type de module :</label>
                    <div class="col-md-9">
                        {{ form_errors(form.speciality) }}
                        {{ form_widget(form.speciality, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Détails du module</label>
                    <div class="col-md-9">
                        {{ form_errors(form.detail) }}
                        {{ form_widget(form.detail, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <div class="col-lg-12">
        <div class="well">
            <button type="submit" class="btn btn-lg btn-inverse">Créer le module</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well">
            <a href="{{ path('module') }}"><button class="btn btn-primary">Revenir à la liste des modules</button></a>
        </div>
    </div>
    {{ form_end(form) }}
    <!-- end col-6 -->
</div>
{% endblock %}