{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('module') }}">Modules</a></li>
                <li class="active">Détails du module : {{ entity.libelle }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Libellé :</strong>
                        <br>
                        {{ entity.libelle }}
                        <br>
                        <strong>Libellé court :</strong>
                        <br>
                        {{ entity.libelleCourt }}
                        <br>
                        <strong>Date de création :</strong>
                        <br>
                        {{ entity.dateCreation | date('d-m-Y') }}
                        <br>
                        <strong>Date de modification :</strong>
                        <br>
                        {{ entity.dateModif | date('d-m-Y') }}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Planification du module</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Durée en heures :</strong>
                        <br>
                        {{ entity.dureeEnHeures }}
                        <br>
                        <strong>Durée en semaines :</strong>
                        <br>
                        {{ entity.dureeEnSemaines }}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-amber" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Prix public en cours :</strong>
                        <br>
                        {{ entity.prixPublicEnCours }} €
                        <br>
                        <strong>Spécialité du module :</strong>
                        <br>
                        {{ entity.speciality.labelSpeciality }}
                        <br>
                        <strong>Détails :</strong>
                        <br>
                        {{ entity.detail }}
                        <br>
                        <strong>Archivé ? </strong>
                        <br>
                        {{ (entity.archiver == true) ? "Oui" : "Non" }}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('module') }}"><button class="btn btn-primary">Revenir à la liste des modules</button></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('module_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier le module</button></a>
                {% endif %}
            </div>
        </div>
        <!-- end col-6 -->
    </div>
{% endblock %}
