{% extends 'BackendBundle::template.html.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('user_profile') }}">Mon compte</a></li>
                <li class="active">Modification de mon profil</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-6 -->
        {{ form_start(form, { 'action': path('user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Modification du mot de passe</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mot de passe actuel</label>
                        <div class="col-md-9">
                            {{ form_errors(form.current_password) }}
                            {{ form_widget(form.current_password, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nouveau mot de passe</label>
                        <div class="col-md-9">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirmation</label>
                        <div class="col-md-9">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <button type="submit" class="btn btn-success">Modifier mon mot de passe</button>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- end col-6 -->
    </div>
{% endblock fos_user_content %}
