{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Accueil</a></li>
        <li class="active">{{ title_page }}</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{ title_page }} <small>Osmose</small></h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-10 -->
            {% if entities %}
                <div class="col-md-12">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{ title_page }}</h4>
                        </div>
                        <div class="panel-body">
                            <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Code de formation</th>
                                    <th>Code titre</th>
                                    <th>Libellé court</th>
                                    <th>Durée (Heures)</th>
                                    <th>Archivé ?</th>
                                    <th>ECF à passer ?</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('formation_show', {'id' : entity.id }) }}" target="_blank">{{ entity.codeFormation }}</a></td>
                                        <td>{{ entity.codeTitre }}</td>
                                        <td>{{ entity.libelleCourt }}</td>
                                        <td>{{ entity.dureeEnHeures }}</td>
                                        <td>{{ (entity.archiver == false) ? "Non" : "Oui" }}</td>
                                        <td>{{ (entity.eCFaPasser == false) ? "Non" : "Oui" }}</td>
                                        <td>
                                            <a href="{{ path('formation_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                            {% if is_granted('ROLE_ADMIN') == true %}
                                                <a href="{{ path('formation_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- end panel -->
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">Aucune formation de disponible</div>
            {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('formation_new') }}"><button type="button" class="btn btn-sm btn-success">Enregistrer une nouvelle formation</button></a>
            </div>
        </div>
    </div>
{% endblock %}
