{% extends 'BackendBundle::template.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('formation') }}">Formations</a></li>
                <li class="active">Créer une nouvelle formation</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-6 -->
        {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Code formation :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.codeFormation) }}
                            {{ form_widget(form.codeFormation, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Libellé court :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.libelleCourt) }}
                            {{ form_widget(form.libelleCourt, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Libellé long :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.libelleLong) }}
                            {{ form_widget(form.libelleLong, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Taux horaire :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.tauxHoraire) }}
                            {{ form_widget(form.tauxHoraire, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Prix public en cours :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.prixPublicEnCours) }}
                            {{ form_widget(form.prixPublicEnCours, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Code du titre :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.codeTitre) }}
                            {{ form_widget(form.codeTitre, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ECF à passer ? </label>
                        <div class="col-md-9">
                            {{ form_errors(form.eCFaPasser) }}
                            {{ form_widget(form.eCFaPasser, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Planification du module</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Durée en heures :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.dureeEnHeures) }}
                            {{ form_widget(form.dureeEnHeures, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Durée en semaines :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.dureeEnSemaines) }}
                            {{ form_widget(form.dureeEnSemaines, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre d'heures en centre :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.heuresCentre) }}
                            {{ form_widget(form.heuresCentre, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre d'heures en stage :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.heuresStage) }}
                            {{ form_widget(form.heuresStage, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre de semaines en centre :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.semainesCentre) }}
                            {{ form_widget(form.semainesCentre, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre de semaines en stage :</label>
                        <div class="col-md-9">
                            {{ form_errors(form.semainesStage) }}
                            {{ form_widget(form.semainesStage, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-lg-12">
            <div class="well">
                <button type="submit" class="btn btn-lg btn-inverse">Créer la formation</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('formation') }}"><button class="btn btn-primary">Revenir à la liste des formations</button></a>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- end col-6 -->
    </div>
{% endblock %}
