{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('formation') }}">Formations</a></li>
                <li class="active">Détails de la formation : {{ entity.libelleCourt }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Code formation :</strong>
                        <br>
                        {{ entity.codeFormation }}
                        <br>
                        <strong>Code titre :</strong>
                        <br>
                        {{ entity.codeTitre }}
                        <br>
                        <strong>Libellé court :</strong>
                        <br>
                        {{ entity.libelleCourt }}
                        <br>
                        <strong>Libellé long :</strong>
                        <br>
                        {{ entity.libelleLong }}
                        <br>
                        <strong>Date de création :</strong>
                        <br>
                        {{ entity.dateCreation |date('Y-m-d H:i:s') }}
                        <br>
                        <strong>Date de modification :</strong>
                        <br>
                        {{ entity.dateModif |date('Y-m-d H:i:s') }}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Planification du module</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Nombre d'heures en centre :</strong>
                        <br>
                        {{ entity.heuresCentre }} h
                        <br>
                        <strong>Nombre d'heures en stage :</strong>
                        <br>
                        {{ entity.heuresStage }} h
                        <br>
                        <strong>Nombre de semaines en centre :</strong>
                        <br>
                        {{ entity.semainesCentre }} h
                        <br>
                        <strong>Nombre de semaines en stage :</strong>
                        <br>
                        {{ entity.semainesStage }} h
                        <br>
                        <strong>Durée en semaines :</strong>
                        <br>
                        {{ entity.dureeEnSemaines }} h
                        <br>
                        <strong>Durée en heures :</strong>
                        <br>
                        {{ entity.dureeEnHeures }} h
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('formation') }}"><button class="btn btn-primary">Revenir à la liste des formations</button></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('formation_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier la formation</button></a>
                {% endif %}
            </div>
        </div>
        <!-- end col-6 -->
    </div>
{% endblock %}
