 <div class="row">
    <div class="col-md-12">
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-success alert-bold-border square fade in alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-bold-border square fade in alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% if invalid_username is defined %}
            <div class="alert alert-danger alert-bold-border square fade in alert-dismissable">
                <i class="fa fa-check"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Le nom d'utilisateur ou l'adresse email est invalide.
            </div>
        {% endif %}
    </div>
</div>