<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('Common/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('Common/plugins/jquery/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('Common/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('Common/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('Common/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('Common/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('Common/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('Common/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('Common/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('Common/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('Common/plugins/DataTables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('Common/plugins/DataTables/media/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('Common/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('Common/plugins/fullcalendar-2.8.0/lib/moment.min.js') }}"></script>
<script src="{{ asset('Common/plugins/fullcalendar-2.8.0/fullcalendar.min.js') }}"></script>
<script src="{{ asset('Common/plugins/fullcalendar-2.8.0/lang/fr.js') }}"></script>
<script src="{{ asset('Common/plugins/fullcalendar-scheduler-1.3.2/scheduler.min.js') }}"></script>
<script src="{{ asset('Common/js/apps.min.js') }}"></script>

<script src="{{ asset('Common/plugins/moment/moment.js') }}"></script>
<script src="{{ asset('Common/plugins/moment/locale/fr.js') }}"></script>
<script src="{{ asset('Common/plugins/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('Common/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('Common/plugins/chosen_v1.6.2/chosen.jquery.js') }}"></script>
<script src="{{ asset('Common/plugins/Creating-Growl-Notifications-with-jQuery-Bootstrap-Notify-js/notify.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
