<!-- ================== BEGIN BASE CSS STYLE ================== -->
<link href="{{ asset('Common/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/css/animate.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/css/style.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/css/style-responsive.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/css/theme/default.css') }}" rel="stylesheet" id="theme" />
<link href="{{ asset('Common/css/calendar-trash.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/css/ajax-load.css') }}" rel="stylesheet" />
<!-- ================== END BASE CSS STYLE ================== -->

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{{ asset('Common/plugins/DataTables/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet" />
<link href="{{ asset('Common/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />

<link href="{{ asset('Common/plugins/fullcalendar-2.8.0/fullcalendar.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('Common/plugins/fullcalendar-2.8.0/fullcalendareventstyle.css') }}" rel="stylesheet"/>
<link href="{{ asset('Common/plugins/fullcalendar-scheduler-1.3.2/scheduler.min.css') }}" rel="stylesheet"/>
<link href="{{ asset('Common/plugins/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.min.css' ) }}" rel="stylesheet"/>
<link href="{{ asset('Common/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' ) }}" rel="stylesheet"/>
<link href="{{ asset('Common/plugins/chosen_v1.6.2/chosen.css') }}" rel="stylesheet"/>
<!-- ================== END PAGE LEVEL STYLE ================== -->
