<div id="sidebar" class="sidebar">
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <a href="#" data-toggle="nav-profile">
                    <div class="info">
                        {{ app.user.username }}
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-header">Menu principal</li>
            <li class="{{ (controller == "home") ? "active" : "" }}">
                <a href="{{ path('planning_home') }}">
                    <i class="material-icons">home</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="has-sub {{ (controller == "sites") ? "active" : "" }}">
                <a href="{{ path('site') }}">
                    <i class="material-icons">location_city</i>
                    <span>Centres de formation</span>
                </a>
            </li>
            <li class="has-sub {{ (controller == "rooms") ? "active" : "" }}">
                <a href="{{ path('room') }}">
                    <i class="material-icons">room</i>
                    <span>Les salles</span>
                </a>
            </li>
            <li class="has-sub {% if app.request.attributes.get('_route') starts with 'slot' %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="material-icons">timer</i>
                    <span>Sessions</span>
                </a>
                <ul class="sub-menu">
                    {% if is_granted('ROLE_ADMIN') == true %}
                        <li><a href="{{ path('slot') }}">En cours</a></li>
                    {% endif %}
                    <li><a href="{{ path('my_slots') }}">Mes sessions en cours</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') == true %}
                <li class="has-sub {{ (controller == "utilisateurs") ? "active" : "" }}">
                    <a href="#">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">face</i>
                        <span>Utilisateurs</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('user_create') }}">Gestion des utilisateurs</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') == true %}
                <li class="has-sub {{ (controller == "swarms") ? "active" : "" }}">
                    <a href="#">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">people</i>
                        <span>Promotions</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('swarm_create') }}">Gestion des promotions</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') == true %}
                <li class="has-sub {{ (controller == "formations") ? "active" : "" }}">
                    <a href="#">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">book</i>
                        <span>Formations</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('formation') }}">Gestion des formations</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') == true %}
                <li class="has-sub {{ (controller == "modules") ? "active" : "" }}">
                    <a href="#">
                        <b class="caret pull-right"></b>
                        <i class="material-icons">bookmark</i>
                        <span>Modules</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('module') }}">Gestion des modues</a></li>
                    </ul>
                </li>
            {% endif %}
            
        </ul>
    </div>
</div>
<div class="sidebar-bg"></div>
