{% extends 'BackendBundle::template.html.twig' %}
{% block body -%}
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Accueil</a></li>
        <li class="active">{{ title_page }}</li>
    </ol>
    <h1 class="page-header">{{ title_page }} <small>Osmose</small></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Matière</th>
                            <th>Salle rattachée</th>
                            <th>Formateur concerné</th>
                            <th>Promotion rattachée</th>
                            <th>Début de la formation</th>
                            <th>Fin de la formation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for slot in slots %}
                            <tr>
                                <td>{{ slot.note }}</td>
                                <td>{{ slot.room.number }}</td>
                                <td>{{ slot.trainer.firstname }} {{ slot.trainer.lastname }}</td>
                                <td>{{ slot.swarm.libelle }}</td>
                                <td>{{ slot.startsOn |date('d-m-Y H:i:s') }}</td>
                                <td>{{ slot.endsOn|date('d-m-Y H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
