{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <h1>Slot creation</h1>

    {{ form(form) }}



    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('slot') }}"><button class="btn btn-primary">Revenir à la liste des slots</button></a>
            </div>
        </div>
    </div>
{% endblock %}
