{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <h1>Slot</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Startson</th>
                <td>{{ entity.startsOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endson</th>
                <td>{{ entity.endsOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('slot') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('slot_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
