<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Osmose | Gestionnaire des plannings de formation</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ================== BEGIN CSS TOP ================== -->
    {% include ':Elements:inclusion_css_material.html.twig' %}
    <!-- ================== END CSS TOP ================== -->

    <!-- ================== BEGIN JS TOP ================== -->
    {% include ':Elements:inclusion_js_top_material.html.twig' %}
    <!-- ================== END JS TOP ================== -->
</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <div class="message">Chargement...</div>
    </div>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">
                    Osmose
                </a>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Bonjour, {{ app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li><a href="{{ path('user_profile') }}">Mon compte</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

            <div class="search-form">
                <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
                <input type="text" class="form-control" placeholder="Search Something...">
                <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->


    <!-- ================== BEGIN SIDEBAR ================== -->
    {% include ':Elements:sidebar_left.html.twig' %}
    <!-- ================== END SIDEBAR ================== -->


    <!-- begin #content -->
    <div id="content" class="content">
    {% block body %}
    {% endblock body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    </div>
    <!-- end #content -->
</div>
<!-- end page container -->

<!-- ================== BEGIN JS TOP ================== -->
{% include ':Elements:inclusion_js_material.html.twig' %}
{% block fullcalendar %}{% endblock %}
<!-- ================== END JS TOP ================== -->

<script>
    $(document).ready(function() {
        App.init();
        TableManageResponsive.init();

    });
</script>
</body>
</html>
