<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Accueil - Espace connecté</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    {% include 'FOSUserBundle:Elements:inclusion_css.html.twig' %}
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    {% include 'FOSUserBundle:Elements:inclusion_js_top.html.twig' %}
    <!-- ================== END BASE JS ================== -->
</head>

<!-- START Body -->
<body class="pace-top bg-white">
<!-- START Template Main -->
<div id="page-container" class="fade">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">
                    Osmose
                </a>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">Bonjour, {{ app.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>
                        <li><a href="javascript:;">Mon compte</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->

            <div class="search-form">
                <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
                <input type="text" class="form-control" placeholder="Search Something...">
                <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
            </div>
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- ================== BEGIN SIDEBAR ================== -->
    {% include ':Elements:sidebar_left.html.twig' %}
    <!-- ================== END SIDEBAR ================== -->
    <div id="content" class="content">
        {% block body %}
        {% endblock body %}
    </div>
</div>
<!-- ================== BEGIN BASE JS ================== -->
{% include 'FOSUserBundle:Elements:inclusion_js_bottom.html.twig' %}

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
<!--/ END Body -->
</html>