.ajax-loading{
	display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
}

.ajax-loading div{
  text-align: center;
  margin-top: 43vh;
}
