div.calendar-trash {
	float: left;
	padding-right: 8px;
	margin-right:5px;
	padding-left:8px;
	padding-top: 3px;
	cursor: pointer;
}

.to-trash {
	background-color:#EAEAEA;
    -webkit-border-radius: 5em;
    border-radius: 5em;
}