{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('room') }}">Salles</a></li>
                <li class="active">Détails de la salle numéro : {{ entity.number }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    {% if entity.archived == true %}
        <hr>
        <div class="col-lg-12">
            <div class="alert alert-warning"><i class="material-icons">report</i> Attention, cette salle a été archivée
                . Les modules, promotions, ainsi que le planification ne sont pas accessibles pour celle-ci. Veuillez la
                réactiver si vous souhaitez réaliser des actions citées précédemment.</div>
        </div>
    {% endif %}
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    {{ form_start(edit_form, {'attr' : {'class' : 'form-horizontal' }} ) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Numéro de la salle :</strong>
                        <br>
                        {{ form_errors(edit_form.number) }}
                        <br>
                        {{ form_widget(edit_form.number, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Centre de formation :</strong>
                        {{ form_errors(edit_form.site) }}
                        <br>
                        {{ form_widget(edit_form.site, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Nombre de places :</strong>
                        <br>
                        {{ form_errors(edit_form.seats) }}
                        <br>
                        {{ form_widget(edit_form.seats, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Type de salle :</strong>
                        <br>
                        {{ form_errors(edit_form.speciality) }}
                        <br>
                        {{ form_widget(edit_form.speciality, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                    </address>
                    <address>
                        <strong>Vidéo-projecteur ?</strong>
                        <br>
                        {{ form_errors(edit_form.projector) }}
                        <br>
                        {{ form_widget(edit_form.projector) }}
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-blue text-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Configuration technique</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Ordinateurs</strong>
                        {{ form_errors(edit_form.computers) }}
                        <br>
                        {{ form_widget(edit_form.computers, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Modèle des ordinateurs</strong>
                        <br>
                        {{ form_errors(edit_form.computersModels) }}
                        <br>
                        {{ form_widget(edit_form.computersModels, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : RAM</strong>
                        <br>
                        {{ form_errors(edit_form.computersRam) }}
                        <br>
                        {{ form_widget(edit_form.computersRam, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : Stockage</strong>
                        <br>
                        {{ form_errors(edit_form.computersDisks) }}
                        <br>
                        {{ form_widget(edit_form.computersDisks, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : CPU</strong>
                        <br>
                        {{ form_errors(edit_form.computersCpu) }}
                        <br>
                        {{ form_widget(edit_form.computersCpu, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Fin de garantie du matériel</strong>
                        <br>
                        {{ form_errors(edit_form.warrantyEnd) }}
                        <br>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class='input-group date datetimepicker'>
                                    {{ form_widget(edit_form.warrantyEnd, { 'attr' : { 'class' : 'form-control'}} ) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <div class="well">
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        <a href="{{ path('room') }}"><button class="btn btn-primary">Retour à la liste des salles</button></a>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
{% block fullcalendar %}
    <script>
        $('.datetimepicker').datepicker({
            daysOfWeekDisabled: [0, 6]
        });
    </script>
{% endblock fullcalendar %}