{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-lg-12">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb hidden-print pull-right">
            <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
            <li class="active">Salles</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
</div>
<hr>
<div class="row">
    <!-- begin col-10 -->
    <div class="col-md-12">
        {{ include(':Elements:errors.html.twig') }}
        {% if entities %}
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Établissement de rattachement</th>
                                <th>Numéro</th>
                                <th>Places</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('site_show', {'id' : entity.site.id }) }}" target="_blank">{{ entity.site.name }}</a></td>
                                <td>{{ entity.number }}</td>
                                <td>{{ entity.seats }}</td>
                                <td>
                                    <a href="{{ path('room_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                    {% if is_granted('ROLE_ADMIN') == true %}
                                        <a href="{{ path('room_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                        {% if(entity.archived == true) %}
                                            <a href="{{ path('room_enable', { 'id': entity.id }) }}"><button class="btn btn-success"><i class="material-icons">power_settings_new</i></button></a>
                                        {% else %}
                                            <a href="{{ path('room_delete', { 'id': entity.id }) }}"><button class="btn btn-danger"><i class="material-icons">highlight_off</i></button></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <!-- end panel -->
            </div>
        {% else %}
            <div class="alert alert-info">Aucune salle de disponible</div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <a href="{{ path('room_new') }}"><button type="button" class="btn btn-sm btn-success">Enregistrer une nouvelle salle</button></a>
        </div>
    </div>
</div>
{% endblock %}
