{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Accueil</a></li>
    <li><a href="{{ path('site') }}">Liste des sites</a></li>
    <li class="active">{{ title_page }}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{ title_page }} <small>Liste des salles</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- begin col-10 -->
    <div class="col-md-12">
        {% if(rooms) %}
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Centre</th>
                                <th>Nombre de places</th>
                                <th>Type de cours</th>
                                <th>Numéro</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td><a href="{{ path('room_show', {'id' : room.id }) }}" target="_blank">{{ room.site.name }}</a></td>
                                <td>{{ room.seats }}</td>
                                <td>{{ room.number }}</td>
                                <td>
                                    <a href="{{ path('room_show', { 'id': room.id }) }}"><button class="btn btn-primary">Détails</button></a>
                                    <a href="{{ path('room_edit', { 'id': room.id }) }}"><button class="btn btn-warning">Modifier</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">Aucune salle n'a été enregistrée dans l'application pour ce site.</div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <a href="{{ path('room_new') }}"><button type="button" class="btn btn-sm btn-success">Enregistrer une nouvelle salle</button></a>
            <a href="{{ path('room') }}"><button type="button" class="btn btn-sm btn-info">Liste des salles</button></a>
        </div>
    </div>
</div>
{% endblock %}
