{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('room') }}">Salles</a></li>
                <li class="active">Création d'une nouvelle salle</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Numéro de la salle :</strong>
                        <br>
                        {{ form_errors(form.number) }}
                        <br>
                        {{ form_widget(form.number, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Centre de formation :</strong>
                        {{ form_errors(form.site) }}
                        <br>
                        {{ form_widget(form.site, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Nombre de places :</strong>
                        <br>
                        {{ form_errors(form.seats) }}
                        <br>
                        {{ form_widget(form.seats, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                        <strong>Type de salle :</strong>
                        <br>
                        {{ form_errors(form.speciality) }}
                        <br>
                        {{ form_widget(form.speciality, {'attr' : {'class' : 'form-control' }} ) }}
                        <br>
                    </address>
                    <address>
                        <strong>Vidéo-projecteur ?</strong>
                        <br>
                        {{ form_errors(form.projector) }}
                        <br>
                        {{ form_widget(form.projector) }}
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-blue text-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Configuration technique</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Ordinateurs</strong>
                        {{ form_errors(form.computers) }}
                        <br>
                        {{ form_widget(form.computers, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Modèle des ordinateurs</strong>
                        <br>
                        {{ form_errors(form.computersModels) }}
                        <br>
                        {{ form_widget(form.computersModels, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : RAM</strong>
                        <br>
                        {{ form_errors(form.computersRam) }}
                        <br>
                        {{ form_widget(form.computersRam, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : Stockage</strong>
                        <br>
                        {{ form_errors(form.computersDisks) }}
                        <br>
                        {{ form_widget(form.computersDisks, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Ordinateurs : CPU</strong>
                        <br>
                        {{ form_errors(form.computersCpu) }}
                        <br>
                        {{ form_widget(form.computersCpu, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                    <address>
                        <strong>Fin de garantie du matériel</strong>
                        <br>
                        {{ form_errors(form.warrantyEnd) }}
                        <br>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class='input-group date datetimepicker'>
                                    {{ form_widget(form.warrantyEnd, { 'attr' : { 'class' : 'form-control'}} ) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <hr>
    <div class="well">
        <button type="submit" class="btn btn-success">Créer la salle</button>
    </div>
    {{ form_end(form) }}
    <div class="well">
        <a href="{{ path('room') }}"><button class="btn btn-primary">Retour à la liste des salles</button></a>
    </div>
{% endblock %}
{% block fullcalendar %}
    <script>
        $('.datetimepicker').datepicker({
            daysOfWeekDisabled: [0, 6]
        });
    </script>
{% endblock fullcalendar %}