{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('room') }}">Salles</a></li>
                <li class="active">Détails de la salle numéro : {{ entity.number }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    {% if entity.archived == true %}
        <hr>
        <div class="col-lg-12">
            <div class="alert alert-warning"><i class="material-icons">report</i> Attention, cette salle a été archivée
                . Les modules, promotions, ainsi que le planification ne sont pas accessibles pour celle-ci. Veuillez la
                réactiver si vous souhaitez réaliser des actions citées précédemment.</div>
        </div>
    {% endif %}
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Numéro de la salle :</strong>
                        <br>
                        {{ entity.number }}
                        <br>
                        <strong>Centre de formation :</strong>
                        <br>
                        {{ entity.site }}
                        <br>
                        <strong>Nombre de places :</strong>
                        <br>
                        {{ entity.seats }}
                        <br>
                        <strong>Type de salle :</strong>
                        <br>
                        {{ entity.speciality.labelSpeciality }}
                        <br>
                    </address>
                    <address>
                        <strong>Vidéo-projecteur ?</strong>
                        <br>
                        {{ entity.projector ? 'oui' : 'non' }}
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-blue text-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Configuration technique</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Ordinateurs</strong>
                        <br>
                        {{ entity.computers }}
                    </address>
                    <address>
                        <strong>Modèle des ordinateurs</strong>
                        <br>
                        {{ entity.computersModels }}
                    </address>
                    <address>
                        <strong>Ordinateurs : RAM</strong>
                        <br>
                        {{ entity.computersRam }}
                    </address>
                    <address>
                        <strong>Ordinateurs : Stockage</strong>
                        <br>
                        {{ entity.computersDisks }}
                    </address>
                    <address>
                        <strong>Ordinateurs : CPU</strong>
                        <br>
                        {{ entity.computersCpu }}
                    </address>
                    <address>
                        <strong>Ordinateurs : CPU</strong>
                        <br>
                        {{ entity.computersCpu }}
                    </address>
                    <address>
                        <strong>Fin de garantie du matériel</strong>
                        <br>
                        {{ entity.warrantyEnd|date('d-m-Y') }}
                    </address>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="well">
        <a href="{{ path('room') }}"><button class="btn btn-primary">Retour à la liste des salles</button></a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('room_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier la salle</button></a>
            <a href="{{ path('room_delete', { 'id': entity.id }) }}"><button class="btn btn-danger">Supprimer la salle</button></a>
        {% endif %}
    </div>
{% endblock %}
