{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div>
        <form action='{{ path('param_do_import_csv') }}' method='POST' enctype='multipart/form-data'>
            <input type='file' name='userFile'><br>
            <input type='submit' name='upload_btn' value='upload'>
        </form>
    </div>
{% endblock %}
