<div id="ModaleSiteNew" class="modal fade">
    <div class="modal-dialog">
        {{ form_start(form,{'attr' : {'class' : 'modal-content form-horizontal form-bordered', 'method' : 'POST'}}) }}
        <div class="modal-content">
            <div class="modal-header text-center">
                Enregistrement d'un nouveau site
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="ico-picture text-primary mb15 mt15" style="font-size:36px;"></div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom du site</label>
                            {{ form_errors(form.name) }}
                            <div class="col-md-9">
                                {{ form_widget(form.name, {'attr' : {'class' : 'form-control' }} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Heure d'ouverture</label>
                            <div class="col-md-9">
                                {{ form_widget(form.openingHour) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Heure de fermeture</label>
                            {{ form_errors(form.closingHour) }}
                            <div class="col-md-9">
                                {{ form_widget(form.closingHour) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Début de pause déjeuner</label>
                            {{ form_errors(form.breakStart) }}
                            <div class="col-md-9">
                                {{ form_widget(form.breakStart) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fin de pause déjeuner</label>
                            {{ form_errors(form.breakEnd) }}
                            <div class="col-md-9">
                                {{ form_widget(form.breakEnd ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Ville</label>
                            {{ form_errors(form.city) }}
                            <div class="col-md-9">
                                {{ form_widget(form.city, { 'attr' : { 'class' : 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Adresse du site</label>
                            {{ form_errors(form.address) }}
                            <div class="col-md-9">
                                {{ form_widget(form.address, { 'attr' : { 'class' : 'form-control'}} ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                <button type="submit" class="btn btn-success">Enregistrer le site</button>
            </div>
        </div>
        {{ form_end(form) }}
        <!--/form-->
    </div><!--/.modal-dialog -->
</div>
