{% extends 'PlanningBundle::template.html.twig' %}
{% block body %}
    <div
            id="js-vars"
            data-vars="{{ js_vars|json_encode|e('html_attr') }}"
    />
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Accueil</a></li>
        <li class="active">{{ title_action }}</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Osmose
        <small>{{ title_action }}</small>
    </h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-pink">
                <div class="stats-icon"><i class="material-icons">location_city</i></div>
                <div class="stats-info">
                    <h4>SITES</h4>
                    <p>{{ (nbSites) ? nbSites  : "0" }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('site') }}">Voir la liste <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-orange">
                <div class="stats-icon"><i class="material-icons">room</i></div>
                <div class="stats-info">
                    <h4>SALLES</h4>
                    <p>{{ (nbRooms) ? nbRooms  : "0" }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('room') }}">Voir la liste <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-grey-600">
                <div class="stats-icon"><i class="material-icons">face</i></div>
                <div class="stats-info">
                    <h4>FORMATEURS & EXTERNES</h4>
                    <p>{{ (nbUsers) ? nbUsers  : "0" }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('user_index') }}">Voir la liste <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="material-icons">timer</i></div>
                <div class="stats-info">
                    <h4>PLANNINGS DE FORMATION</h4>
                    <p>{{ (nbSlots) ? nbSlots  : "0" }}</p>
                </div>
                <div class="stats-link">
                    <a href="{{ path('slot') }}">Voir la liste <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    {{ include(':Elements:errors.html.twig') }}
    <div id="notifications" ></div>
    <!-- Begin Calendar Index -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 id="panel-calendar-title" class="panel-title">Mon calendrier</h4>
                </div>
                <div class="panel-body p-0">
                    <div class="vertical-box">
                        <div id="calendar" class="vertical-box-column p-15 calendar">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div id="calendarTrash" class="calendar-trash"><img src="{{ asset('Common/img/trash.png') }}"/></div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
    </div>
    <!-- end Calendar Index -->
    <!-- Ajax loading gif-->
    <div class="ajax-loading">
      <div>
        <img src="{{ asset('Common/img/squares-64.gif') }}"/>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajout d'un nouveau slot</h4>
                    <h4 class="modal-title hide" id="myModalLabelUpdate">Modifier un slot</h4>
                    <p id="myModal-siteName-swarmName" ></p>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Module</label>
                            {{ form_errors(form.module) }}
                            <div class="col-md-9">
                              <div class="form-group">
                                {{ form_widget(form.module, {'attr' : {'class' : 'form-control' }} ) }}
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Note</label>
                            {{ form_errors(form.note) }}
                            <div class="col-md-9">
                              <div class="form-group">
                                {{ form_widget(form.note, {'attr' : {'class' : 'form-control' }} ) }}
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Début</label>
                            {{ form_errors(form.startsOn) }}
                            <div class="col-md-9">
                                    <div class="form-group">
                                        <div class='input-group date datetimepicker'>
                                            <input id="osmose_backendbundle_slot_startsOn" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fin</label>
                            {{ form_errors(form.endsOn) }}
                            <div class="col-md-9">
                                      <div id="endsOn-form-group" class="form-group">
                                        <div class='input-group date datetimepicker'>
                                            <input id="osmose_backendbundle_slot_endsOn" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar">
                                                </span>
                                            </span>
                                        </div>
                                        <label id="error-endsOn-label" class="control-label hide text-left" for="osmose_backendbundle_slot_endsOn">La date de fin ne peut être inférieur à la date de début</label>
                                      </div>
                            </div>
                        </div>
                        <div id="room-form-group" class="form-group">
                            <label class="col-sm-2 control-label">Salle</label>
                            {{ form_errors(form.room) }}
                            <div class="col-md-9">
                              <div class="form-group">
                                {{ form_widget(form.room, {'attr' : {'class' : 'form-control' }} ) }}
                                  <label id="error-room-label" class="control-label hide text-left" for="osmose_backendbundle_slot_room">Aucune salle compatible avec le module sélectionné. Veuillez choisir un autre module</label>
                              </div>
                            </div>
                        </div>
                        <div id="trainer-form-group" class="form-group">
                            <label class="col-sm-2 control-label">Formateur</label>
                            {{ form_errors(form.trainer) }}
                            <div class="col-md-9">
                              <div class="form-group">
                                {{ form_widget(form.trainer, {'attr' : {'class' : 'form-control' }} ) }}
                                  <label id="error-trainer-label" class="control-label hide text-left" for="osmose_backendbundle_slot_trainer">Aucun formateur disponible ou en mesure de dispenser ce module</label>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="delete-slot" type="button" class="btn btn-danger pull-left">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button id="save-slot" type="button" class="btn btn-success">Enregistrer</button>
                    <button id="update-slot" type="button" class="btn hide btn-primary">Modifier</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirmer la suppression du slot</h4>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default pull-center" data-dismiss="modal">Annuler</button>
                    <button id="delete-confirm" type="button" class="btn btn-danger btn-ok pull-center">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block fullcalendar %}

    <script>
        $('.datetimepicker').datetimepicker({
            daysOfWeekDisabled: [0, 6]
        });
        $(document)
          .ajaxStart(function () {
            $('.ajax-loading').show();
          })
          .ajaxStop(function () {
            $('.ajax-loading').hide();
          });
        $('#myModal').on('hidden.bs.modal', function () {
            $('#error-room-label').addClass('hide');
            $('#error-trainer-label').addClass('hide');
            $('#room-form-group').removeClass('has-error');
            $('#trainer-form-group').removeClass('has-error');
        });


        $('#osmose_backendbundle_slot_module').chosen({width: "100%",
        no_results_text: "Aucun résultat ne correspond à :"});

        var JsVars = jQuery('#js-vars').data('vars');

        // load a variable from js-vars
        var sitesList = JsVars.sitesList;
        var eventsList = JsVars.eventsList;
        //alert(JSON.stringify(eventsList, null, 4));
        var currentDate = new Date();
        var currentRessourceId;
        var currentStart;
        var currentEnd;
        var currentNote;
        var currentRoom;
        var currentRoomId = 0;
        var currentTrainer;
        var currentTrainerId = 0;
        var currentModule;

        var currentEvent;

        $('#calendar').fullCalendar({
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            selectable: JsVars.adminEditableRights,
            editable: JsVars.adminEditableRights,
            weekends: false,
            timezone: 'local',
            lang: 'fr',
            minTime: "08:00:00",
            maxTime: "19:00:00",
            dragRevertDuration: 0,
            eventColor: '#149DEF',
            eventBorderColor: '#000000',
            header: {
                left: 'prev,next today myCustomButton',
                center: 'title',
                right: 'timelineDay,timelineWeek,timelineMonth,timelineYear,agendaDay'
            },


            defaultView: 'timelineDay',
            resourceGroupField: 'building',
            resources: sitesList,
            events: eventsList,
            eventMouseover: function (event, jsEvent, view) {
                console.log(event);
                printObject(event);
                var distTop = jsEvent.clientY + 10;
                var distLeft = jsEvent.clientX + 20;
                var tooltip = '<div id="tooltipevent" style="width:100px;height:50px;background:#ccc;position:absolute;z-index:10001;top:' + distTop + 'px;left:' + distLeft + 'px">'
                        + event.trainerName
                        + '<br>'
                        + event.roomCode
                        + '</div>';
                $(tooltip).appendTo('body');


            },
            eventMouseout: function (event, jsEvent, view) {
                var element = document.getElementById("tooltipevent");
                element.parentNode.removeChild(element);
            },
            eventDragStop: function(event,jsEvent) {
                var trashEl = jQuery('#calendarTrash');
                var ofs = trashEl.offset();

                var x1 = ofs.left;
                var x2 = ofs.left + trashEl.outerWidth(true);
                var y1 = ofs.top;
                var y2 = ofs.top + trashEl.outerHeight(true);

                if (jsEvent.pageX >= x1 && jsEvent.pageX<= x2 &&
                        jsEvent.pageY>= y1 && jsEvent.pageY <= y2) {
                    ajaxCallDelete(event);
                }
            },
            eventDrop: function (event, delta, revertFunc, jsEvent, ui, view){
                printObject(event, 'The event droped');
                var newStartsOn = customFormatDate(new Date(event.start));
                var newEndsOn = customFormatDate(new Date(event.end));
                ajaxCallUpdate(event.id, newStartsOn, newEndsOn, event.note, event.roomId, event.trainerId , event.resourceId, event._id, event.moduleId);
            },
            eventResize: function(event, delta, revertFunc) {
                printObject(event, 'The event Resized');
                var newStartsOn = customFormatDate(new Date(event.start));
                var newEndsOn = customFormatDate(new Date(event.end));
                ajaxCallUpdate(event.id, newStartsOn, newEndsOn, event.note, event.roomId, event.trainerId , event.resourceId, event._id, event.moduleId);
            },
            select: function (start, end, jsEvent, ev, resources) {
                $('#calendar').fullCalendar('unselect');
                printObject(resources, 'L\'objet resources :');
                $("#myModal-siteName-swarmName").html(resources.building+" | "+resources.title);
                setCreateModalView();
                $("#myModal").modal('show');
                console.log("select par defaut : "+$("#osmose_backendbundle_slot_module").val());
                var dateDeb = new Date(start);
                var dateFin = new Date(end);

                console.log('startDate Selected '+customFormatDate(dateDeb));

                setStartDateAndEndDate(dateDeb, dateFin);
                currentRessourceId = resources.id;

                showSelectRoomErrorFormLabel();
                showSelectTrainerErrorFormLabel();
                showEndsOnErrorLabel();

                $('#calendar').fullCalendar('unselect');
            },
            eventClick: function (calEvent, jsEvent, view) {
                currentEvent = calEvent;
                $('#calendar').fullCalendar('unselect');
                printObject(calEvent, 'The event clicked');
                setUpdateModalView();
                console.log(new Date(calEvent.start));
                $("#myModal").modal('show');
                fillModal(calEvent);
                showSelectRoomErrorFormLabel();
                showSelectTrainerErrorFormLabel();
                showEndsOnErrorLabel();
            }

        });

        $("#save-slot").on('click', function () {
            if ($('#osmose_backendbundle_slot_room').val() != null && $('#osmose_backendbundle_slot_trainer').val() != null){
              var start = new Date($('#osmose_backendbundle_slot_startsOn').val());
              var end = new Date($('#osmose_backendbundle_slot_endsOn').val());

              if (end > start){
                console.log("Enter Save function");
                currentNote = $("#osmose_backendbundle_slot_note").val();
                currentRoom = $("#osmose_backendbundle_slot_room").val();
                console.log("le num de la Salle : " + currentRoom);
                currentTrainer = $("#osmose_backendbundle_slot_trainer").val();
                console.log("Le num du formateur : " + currentTrainer);
                currentStart = $("#osmose_backendbundle_slot_startsOn").val();
                currentEnd = $("#osmose_backendbundle_slot_endsOn").val();
                currentModule = $("#osmose_backendbundle_slot_module").val();

                console.log("StartsOn : " + currentStart);
                console.log("EndsOn : " + currentEnd);
                if (currentModule == "")
                    console.log("Module : module vide");
                console.log("Module : " + currentModule);

                ajaxCallAdd(currentStart, currentEnd, currentNote, currentRoom, currentTrainer, currentRessourceId, currentModule);
              }

            }

        });

        $("#update-slot").on('click', function () {
            if ($('#osmose_backendbundle_slot_room').val() != null) {
                var newStartsOn = $('#osmose_backendbundle_slot_startsOn').val();
                var newEndsOn = $('#osmose_backendbundle_slot_endsOn').val();
                var newNote = $("#osmose_backendbundle_slot_note").val();
                var newRoom = $("#osmose_backendbundle_slot_room").val();
                var newTrainer = $("#osmose_backendbundle_slot_trainer").val();
                var newModule = $("#osmose_backendbundle_slot_module").val();

                ajaxCallUpdate(currentEvent.id, newStartsOn, newEndsOn, newNote, newRoom, newTrainer, currentEvent.resourceId, currentEvent._id, newModule);

            }

        });

        $("#delete-slot").on('click', function () {
            $("#myModal").modal('hide');
            $("#confirm-delete-modal").modal('show');
            $("#delete-confirm").on('click', function(){

                printObject(currentEvent, 'The event to delete');
                ajaxCallDelete(currentEvent);

            });

        });

        $("#osmose_backendbundle_slot_module").on('change', function () {
            var selectedModuleValue = $("#osmose_backendbundle_slot_module").val();

            if (selectedModuleValue == ''){
              selectedModuleValue = 0;
            }
            console.log("Module number sélectionné : "+selectedModuleValue);
            ajaxCallReloadData(selectedModuleValue);
        });

        $("#cancel-myModal").on('click', function(){
            $('#calendar').fullCalendar('unselect');
        });

        $("#cancel-confirm-delete-modal").on('click', function(){
            $('#calendar').fullCalendar('unselect');
        });

        $("#osmose_backendbundle_slot_endsOn").on('focusout', function(){
          showEndsOnErrorLabel();
        });

        // modification du nom du menu pour éviter les doublons
        $(".fc-agendaDay-button").html('Agenda Jour');

        function selectItemByValue(elmnt, value) {
            for (var i = 0; i < elmnt.options.length; i++) {
                if (elmnt.options[i].value == value) {
                    elmnt.selectedIndex = i;
                    break;
                }
            }
        }

        function reloadChosenSelect(moduleId){
            $('#osmose_backendbundle_slot_module').chosen('destroy')
            setSelectBoxByIndex('osmose_backendbundle_slot_module', moduleId);
            $('#osmose_backendbundle_slot_module').chosen({width: "100%",
                no_results_text: "Aucun résultat ne correspond à :"});
        }

        function setUpdateModalView(){
            $("#save-slot").addClass("hide");
            $("#update-slot").removeClass("hide");
            $("#myModalLabel").addClass("hide");
            $("#myModalLabelUpdate").removeClass("hide");
            $("#delete-slot").removeClass("hide");
        }

        function setCreateModalView(){
            $("#osmose_backendbundle_slot_note").val("");
            $("#save-slot").removeClass("hide");
            $("#update-slot").addClass("hide");
            $("#myModalLabel").removeClass("hide");
            $("#myModalLabelUpdate").addClass("hide");
            $("#delete-slot").addClass("hide");

        }

        function fillModal(event){
            console.log("Enter fillModal function :");
            $("#myModal-siteName-swarmName").html(event.siteLibelle+" | "+event.swarmLibelle);
            $("#osmose_backendbundle_slot_note").val(event.note);
            reloadChosenSelect(event.moduleId);
            currentRoomId = event.roomId;
            currentTrainerId = event.trainerId;
            setSelectBoxByIndex('osmose_backendbundle_slot_trainer', event.trainerId);
            setSelectBoxByIndex('osmose_backendbundle_slot_room', event.roomId);
            setStartDateAndEndDate(new Date(event.start), new Date(event.end));
            console.log("End fillModal function :");
        }

        function setStartDateAndEndDate(dateDeb, dateFin) {
          console.log("Enter setStartDateAndEndDate function")
            $("#osmose_backendbundle_slot_startsOn").val(customFormatDate(dateDeb));
            $("#osmose_backendbundle_slot_endsOn").val(customFormatDate(dateFin));
        }
        function getFullMinutes(date){
            return ('0'+date.getMinutes()).slice(-2);
        }
        function getFullHours(date){
            return ('0'+date.getHours()).slice(-2);
        }

        function customFormatDate(currentDate) {
            return currentDate.getFullYear() + "-" + (currentDate.getUTCMonth() + 1) + "-" + currentDate.getDate() + " " + getFullHours(currentDate) + ":" + getFullMinutes(currentDate);
        }

        /**
         * Set Select Box Selection By Index
         * @param eid Element ID
         * @param eindx Element Index
         */

        function showSelectRoomErrorFormLabel() {
            if ($('#osmose_backendbundle_slot_room').val() == null){
                $('#error-room-label').removeClass('hide');
                $('#room-form-group').addClass('has-error');
            }else{
                $('#error-room-label').addClass('hide');
                $('#room-form-group').removeClass('has-error');
            }
        }

        function showSelectTrainerErrorFormLabel(){
            if ($('#osmose_backendbundle_slot_trainer').val() == null){
                $('#error-trainer-label').removeClass('hide');
                $('#trainer-form-group').addClass('has-error');
            }else{
                $('#error-trainer-label').addClass('hide');
                $('#trainer-form-group').removeClass('has-error');
            }
        }

        function showEndsOnErrorLabel(){
          var debut = new Date($('#osmose_backendbundle_slot_startsOn').val());
          var fin = new Date($('#osmose_backendbundle_slot_endsOn').val());
          if (fin < debut){
            $('#error-endsOn-label').removeClass('hide');
            $('#endsOn-form-group').addClass('has-error');
          }else{
            $('#error-endsOn-label').addClass('hide');
            $('#endsOn-form-group').removeClass('has-error');
          }
        }

        function setSelectBoxByIndex(eid, eindx) {
            $("#"+eid).val(eindx).change();
        }
        function printObject(o, msg) {
            var out = '';
            var cpt = 0;
            if (msg != undefined){
                out+= msg + ' : \n';
            }
            out += '{';
            for (var p in o) {
                if (cpt == 0){
                    out += p + ': ' + o[p];
                    cpt++;
                }else{
                    out += ', '+ p + ': ' + o[p];
                }

            }
            out+='}';
            console.log(out);
        }

        function ajaxCallAdd(dateDeb, dateFin, matiere, salle, formateur, currentRessourceId, currentModule){
          console.log("Enter ajaxCallAdd() function");
            $.ajax({
                type: "POST",
                url: "{{path('planningSlot_create')}}",
                data: { startsOn: dateDeb, endsOn: dateFin, note: matiere, room: salle, trainer: formateur, swarm: currentRessourceId, module: currentModule },//variables du slot à rajouter
                success: function(response){
                    console.log("Data Saved !");
                    var responseDecoded = $.parseJSON(JSON.stringify(response));
                    console.log(responseDecoded)
                    console.log(responseDecoded.id);
                    console.log(responseDecoded.start);
                    $('#calendar').fullCalendar('renderEvent',
                            {
                                id: responseDecoded.id,
                                title: responseDecoded.title,
                                note: responseDecoded.note,
                                start: responseDecoded.start,
                                end: responseDecoded.end,
                                resourceId: responseDecoded.resourceId,
                                roomId: responseDecoded.roomId,
                                roomCode: responseDecoded.roomCode,
                                trainerName: responseDecoded.trainerName,
                                trainerId: responseDecoded.trainerId,
                                siteLibelle: responseDecoded.siteLibelle,
                                swarmLibelle: responseDecoded.swarmLibelle,
                                moduleId: responseDecoded.moduleId
                            },
                            true // make the event "stick"
                    );

                    Notify(response.message, null, null, 'success');
                }
            }).always(function (response) {
                console.log("Close modal !");
                $("#myModal").modal('hide');
                $('#calendar').fullCalendar('unselect');
                $('#calendar').fullCalendar('refetchEvents');
            }).fail(function (response) {
                console.log("Enter fail ajaxCallAdd handler! ");
                console.log(response);
                if (response.responseText.indexOf("salle") !== -1){
                    Notify(response.responseText.replace(/\"/g, ""), null, null, 'warning');
                }else{
                    Notify(response.responseText.replace(/\"/g, ""), null, null, 'danger');
                }

            });
        }

        function ajaxCallUpdate(slotId, newStartsOn, newEndsOn, newNote, newRoom, newTrainer, resourceId, eventId, newModule){
          console.log("Enter ajaxCallUpdate() function");
            $.ajax({
                type: "POST",
                url: "{{path('planningSlot_update')}}",
                data: { slotId: slotId, startsOn: newStartsOn, endsOn: newEndsOn, note: newNote, room: newRoom, trainer: newTrainer, swarm: resourceId, eventId: eventId, module: newModule },//variables du slot à modifier
                success: function(response){
                    console.log("Data Updated !");
                    printObject(response, 'The update response');

                    $('#calendar').fullCalendar( 'removeEvents', response.eventId );

                    $('#calendar').fullCalendar( 'renderEvent', {
                        id: response.id,
                        title: response.title,
                        note: response.note,
                        start: response.start,
                        end: response.end,
                        resourceId: response.resourceId,
                        roomId: response.roomId,
                        roomCode: response.roomCode,
                        trainerName: response.trainerName,
                        trainerId: response.trainerId,
                        moduleId: response.moduleId
                    }, true );
                    Notify(response.message, null, null, 'info');
                }
            }).always(function (response) {
                $("#myModal").modal('hide');
                $('#calendar').fullCalendar('unselect');
                $('#calendar').fullCalendar('refetchEvents');
            }).fail(function (response) {
                console.log("Enter fail ajaxCallUpdate handler! ");
                if (response.responseText.indexOf("salle") !== -1){
                    Notify(response.responseText.replace(/\"/g, ""), null, null, 'warning');
                }else if(response.responseText.indexOf("formateur") !== -1) {
                    Notify(response.responseText.replace(/\"/g, ""), null, null, 'warning');
                }else {
                    Notify(response.responseText.replace(/\"/g, ""), null, null, 'danger');
                }

            });
        }


        function ajaxCallDelete(calEvent){
          console.log("Enter ajaxCallDelete() function");
            $.ajax({
                type: "DELETE",
                url: "{{path('planningSlot_delete')}}",
                data: { slotId: calEvent.id, eventId: calEvent._id }, //slotId et eventId à détruire dans la BDD et dans la vue
                success: function(response){
                    console.log("Slot Deleted !");
                    printObject(response, 'The delete response');

                    Notify(response.message, null, null, 'success');
                    $('#calendar').fullCalendar('removeEvents', response.eventId);
                }
            }).always(function (response) {
                $("#confirm-delete-modal").modal('hide');
                $("#myModal").modal('hide');

                $('#calendar').fullCalendar('unselect');
                $('#calendar').fullCalendar('refetchEvents');
            }).fail(function (response) {
                console.log("Enter fail ajaxCallDelete handler! ");

                Notify(response.message, null, null, 'danger');
            });
        }

        function ajaxCallReloadData (selectedModuleValue) {
          console.log("Enter ajaxCallReloadData() function");
          $.ajax({
              type: "POST",
              url: "{{path('planningSlot_reloadData')}}",
              data: { moduleId: selectedModuleValue },
              success: function(response){
                  printObject(response, 'The reloadData response');
                  var selectOptRoom = $("#osmose_backendbundle_slot_room");
                  selectOptRoom.empty();
                  $.each(response.rooms, function(i, room) {
                    //printObject(room, 'The room');
                    selectOptRoom.append($("<option></option>")
                    .attr("value", room.roomId).text("num : "+room.codeRoom+" places : "+room.seats+" adapté pour : "+room.specialityLibelle));
                  });

                  var selectOptTrainer = $("#osmose_backendbundle_slot_trainer");
                  selectOptTrainer.empty();
                  $.each(response.users, function(i, trainer) {
                      printObject(trainer, 'The trainer');
                      selectOptTrainer.append($("<option></option>")
                              .attr("value", trainer.trainerId).text(trainer.lastName+" "+trainer.firstName));
                  });

                  if (currentRoomId != 0){
                      $("#osmose_backendbundle_slot_room").val(currentRoomId);
                    currentRoomId = 0;
                  }
                  if (currentTrainerId != 0){
                      $("#osmose_backendbundle_slot_trainer").val(currentTrainerId);
                      currentTrainerId = 0;
                  }

                  showSelectRoomErrorFormLabel();
                  showSelectTrainerErrorFormLabel()
              }
          }).done(function (response) {
              console.log("Rooms loaded !");

          }).fail(function (response) {
              console.log("Enter fail ajaxCallReloadData handler! ");

              Notify(response.message, null, null, 'danger');
          });
        }
    </script>

{% endblock %}
