{% extends "ShootngoUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section class="container container-login">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 animation" data-toggle="waypoints" data-showanim="fadeInDown" data-offset="80%">
                <div class="text-center mb10">
                    <span class="logo-text inverse"></span>
                </div>
                <div class="panel-body">
                    <div class="logo-form">
                        <img src="{{ asset('img/frame-v1/logo/logo.png') }}" alt="logo" title="Shoot And Go">
                    </div>
                </div>
                <hr class="nm">
                <div class="panel-body">
                    <p>Un email de validation de votre compte va vous être envoyé sous 24h maximum.</p>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('index-front') }}">
                        <button class="btn btn-block btn-primary">Retour à l'accueil</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer-login">
        <div class="row">
            <ul class="list-inline text-center">
                <li><a href="javascript:void(0);">À propos</a></li>
                <li><a href="javascript:void(0);">CGU</a></li>
                <li><a href="javascript:void(0);">Confidentialité</a></li>
                <li><a href="javascript:void(0);">Cookies</a></li>
                <li><a href="javascript:void(0);">Premium</a></li>
                <li><a href="javascript:void(0);">Blog</a></li>
                <li><a href="javascript:void(0);">Aide</a></li>
            </ul>
        </div>
        <span class="copy text-center text-white">Shoot And Go © 2016</span>
    </footer>
{% endblock fos_user_content %}
