{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <!-- begin register -->
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="{{ asset('Common/img/login-bg/bg-1.jpg') }}" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title"><i class="material-icons text-cyan pull-left m-r-5">edit</i> Announcing the Color Admin app</h4>
                <p>
                    As a Color Admin Apps administrator, you use the Color Admin console to manage your organization’s account, such as add new users, manage security settings, and turn on the services you want your team to access.
                </p>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin register-header -->
            <h1 class="register-header">
                Enregistrement
                <small>Création d'un compte trop cool.</small>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
            <div class="register-content">
                {{ form_start(form, {'attr' : {'class' : 'margin-bottom-0'}}) }}
                    <label class="control-label">Identifiant de connexion</label>
                    <div class="row row-space-10">
                        <div class="col-md-12">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'jc-gabillaud'}} ) }}
                        </div>
                    </div>
                    <label class="control-label">Email</label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'Email'}} ) }}
                        </div>
                    </div>
                    <label class="control-label">Mot de passe</label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'Mot de passe'}} ) }}
                        </div>
                    </div>
                    <label class="control-label">Confirmer le mot de passe</label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'Confirmer le mot de passe'}} ) }}
                        </div>
                    </div>
                    <div class="checkbox m-b-30">
                        <label>
                            <input type="checkbox" /> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
                        </label>
                    </div>
                    <div class="register-buttons">
                        <button type="submit" class="btn btn-info btn-block btn-lg">Sign Up</button>
                    </div>
                    <hr />
                    <p class="text-center text-inverse">
                        &copy; ENI All Right Reserved 2015
                    </p>
                {{ form_end(form) }}
            </div>
            <!-- end register-content -->
        </div>
        <!-- end right-content -->
    </div>
    <!-- end register -->
{% endblock fos_user_content %}

