{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Room list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Seats</th>
                <th>Computers</th>
                <th>Projector</th>
                <th>Number</th>
                <th>Computersmodel</th>
                <th>Computersram</th>
                <th>Computershdd1</th>
                <th>Computershdd2</th>
                <th>Computerscpu</th>
                <th>Network</th>
                <th>Development</th>
                <th>Warrantyend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('room_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.seats }}</td>
                <td>{{ entity.computers }}</td>
                <td>{{ entity.projector }}</td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.computersModel }}</td>
                <td>{{ entity.computersRam }}</td>
                <td>{{ entity.computersHdd1 }}</td>
                <td>{{ entity.computersHdd2 }}</td>
                <td>{{ entity.computersCpu }}</td>
                <td>{{ entity.network }}</td>
                <td>{{ entity.development }}</td>
                <td>{% if entity.warrantyEnd %}{{ entity.warrantyEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('room_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('room_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('room_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
