{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Room</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>{{ entity.seats }}</td>
            </tr>
            <tr>
                <th>Computers</th>
                <td>{{ entity.computers }}</td>
            </tr>
            <tr>
                <th>Projector</th>
                <td>{{ entity.projector }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Computersmodel</th>
                <td>{{ entity.computersModel }}</td>
            </tr>
            <tr>
                <th>Computersram</th>
                <td>{{ entity.computersRam }}</td>
            </tr>
            <tr>
                <th>Computershdd1</th>
                <td>{{ entity.computersHdd1 }}</td>
            </tr>
            <tr>
                <th>Computershdd2</th>
                <td>{{ entity.computersHdd2 }}</td>
            </tr>
            <tr>
                <th>Computerscpu</th>
                <td>{{ entity.computersCpu }}</td>
            </tr>
            <tr>
                <th>Network</th>
                <td>{{ entity.network }}</td>
            </tr>
            <tr>
                <th>Development</th>
                <td>{{ entity.development }}</td>
            </tr>
            <tr>
                <th>Warrantyend</th>
                <td>{{ entity.warrantyEnd|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('room_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
