{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('swarm') }}">Promotions</a></li>
                <li class="active">Modification d'une promotion</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <div class="row">
        {{ form_start(edit_form, {'attr' : {'class' : 'form-horizontal' }} ) }}
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Référent ENI :</label>
                        {{ form_errors(edit_form.supervisor) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.supervisor, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Formation associée :</label>
                        {{ form_errors(edit_form.formation) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.formation, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Site de rattachement :</label>
                        {{ form_errors(edit_form.site) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.site, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Code de la promotion :</label>
                        {{ form_errors(edit_form.codePromotion) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.codePromotion, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nom de la promotion :</label>
                        {{ form_errors(edit_form.libelle) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.libelle, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Planification & tarification du module</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date de début :</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.debut) }}
                            <div class="form-group">
                                <div class='input-group date datetimepicker'>
                                    {{ form_widget(edit_form.debut, { 'attr' : { 'class' : 'form-control'}} ) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date de fin :</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.fin) }}
                            <div class="form-group">
                                <div class='input-group date datetimepicker'>
                                    {{ form_widget(edit_form.fin, { 'attr' : { 'class' : 'form-control'}} ) }}
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix PEC :</label>
                        {{ form_errors(edit_form.prixPecAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.prixPecAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix public :</label>
                        {{ form_errors(edit_form.prixPublicAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.prixPublicAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix financé :</label>
                        {{ form_errors(edit_form.prixFinanceAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(edit_form.prixFinanceAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <hr>
        {% if is_granted("ROLE_ADMIN") %}
        <div class="col-lg-12">
            <div class="well">
                <button type="submit" class="btn btn-success">Modifier la promotion</button>
            </div>
        </div>
        <hr>
        {% endif %}
        {{ form_end(edit_form) }}
        <div class="col-lg-12">
            <div class="well">
                <a href="{{ path('swarm') }}"><button class="btn btn-primary">Retour à la liste des promotions</button></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fullcalendar %}
    <script>
        $('.datetimepicker').datepicker({
            daysOfWeekDisabled: [0, 6]
        });
    </script>
{% endblock fullcalendar %}