{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Accueil</a></li>
    <li class="active">{{ title_page }}</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">{{ title_page }} <small>Osmose</small></h1>
<!-- end page-header -->

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">{{ title_page }}</h4>
            </div>
            <div class="panel-body">
                <table id="data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Code promotion</th>
                            <th>Libellé</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('swarm_show', { 'id': entity.id }) }}">{{ entity.codePromotion }}</a></td>
                            <td>{{ entity.libelle }}</td>
                            <td>{% if entity.debut %}{{ entity.debut|date('d-m-Y') }}{% endif %}</td>
                            <td>{% if entity.fin %}{{ entity.fin|date('d-m-Y') }}{% endif %}</td>
                            <td>
                                <a href="{{ path('swarm_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                {% if is_granted('ROLE_ADMIN') == true %}
                                    <a href="{{ path('swarm_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <a href="{{ path('swarm_new') }}"><button type="button" class="btn btn-sm btn-success">Enregistrer une nouvelle promotion</button></a>
        </div>
    </div>
</div>
{% endblock %}
