{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('swarm') }}">Promotions</a></li>
                <li class="active">Création d'une nouvelle promotion</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <div class="row">
        {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Référent ENI :</label>
                        {{ form_errors(form.supervisor) }}
                        <div class="col-md-9">
                            {{ form_widget(form.supervisor, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Formation associée :</label>
                        {{ form_errors(form.formation) }}
                        <div class="col-md-9">
                            {{ form_widget(form.formation, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Site de rattachement :</label>
                        {{ form_errors(form.site) }}
                        <div class="col-md-9">
                            {{ form_widget(form.site, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Code de la promotion :</label>
                        {{ form_errors(form.codePromotion) }}
                        <div class="col-md-9">
                            {{ form_widget(form.codePromotion, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nom de la promotion :</label>
                        {{ form_errors(form.libelle) }}
                        <div class="col-md-9">
                            {{ form_widget(form.libelle, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Planification & tarification du module</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date de début :</label>
                        {{ form_errors(form.debut) }}
                        <div class="col-md-9">
                            {{ form_widget(form.debut, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Date de fin :</label>
                        {{ form_errors(form.fin) }}
                        <div class="col-md-9">
                            {{ form_widget(form.fin, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix PEC :</label>
                        {{ form_errors(form.prixPecAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(form.prixPecAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix public :</label>
                        {{ form_errors(form.prixPublicAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(form.prixPublicAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Prix financé :</label>
                        {{ form_errors(form.prixFinanceAffecte) }}
                        <div class="col-md-9">
                            {{ form_widget(form.prixFinanceAffecte, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <hr>
        <div class="col-lg-12">
            <div class="well">
                <button type="submit" class="btn btn-success">Créer la promotion</button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="col-lg-12">
            <div class="well">
                <a href="{{ path('swarm') }}"><button class="btn btn-primary">Retour à la liste des promotions</button></a>
            </div>
        </div>
    </div>
{% endblock %}
