{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('swarm') }}">Promotions</a></li>
                <li class="active">Détails de la promotion : {{ entity.libelle }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Référent ENI :</strong>
                        <br>
                        {{ entity.supervisor.firstname }} - {{ entity.supervisor.lastname }}
                        <br>
                        <strong>Formation :</strong>
                        <br>
                        {{ (entity.formation) ? entity.formation.libelleLong : "Non renseignée" }}
                        <br>
                        <strong>Site de rattachement :</strong>
                        <br>
                        {{ (entity.site) ? entity.site.name : "Non renseigné" }}
                        <br>
                        <strong>Code de la promotion:</strong>
                        <br>
                        {{ (entity.codePromotion) ? entity.codePromotion : "Non renseignée" }}
                        <br>
                        <strong>Nom de la promotion:</strong>
                        <br>
                        {{ (entity.libelle) ? entity.libelle : "Non renseignée" }}
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Planification & tarification de la promotion</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Durée en heures :</strong>
                        <br>
                        {{ entity.debut | date('d-m-Y') }}
                        <br>
                        <strong>Durée en semaines :</strong>
                        <br>
                        {{ entity.fin | date('d-m-Y') }}
                        <br>
                        <strong>Prix PEC :</strong>
                        <br>
                        {{ entity.prixPecAffecte }} €
                        <br>
                        <strong>Prix public :</strong>
                        <br>
                        {{ entity.prixPublicAffecte }} €
                        <br>
                        <strong>Prix financé :</strong>
                        <br>
                        {{ entity.prixFinanceAffecte }} €
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('swarm') }}"><button class="btn btn-primary">Revenir à la liste des promotions</button></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('swarm_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier la promotion</button></a>
                {% endif %}
            </div>
        </div>
        <!-- end col-6 -->
    </div>
{% endblock %}
