{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('site') }}">Sites</a></li>
                <li class="active">Détails du site : {{ entity.name }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    {% if entity.enabled == false %}
        <hr>
        <div class="col-lg-12">
            <div class="alert alert-warning"><i class="material-icons">report</i> Attention, ce site a été archivé
                . Les modules, promotions, ainsi que le planification ne sont pas accessibles pour ce site. Veuillez le
                réactiver si vous souhaitez réaliser des actions cités précédemment.</div>
        </div>
    {% endif %}
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    {{ form_start(edit_form, {'attr' : {'class' : 'form-horizontal' }} ) }}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Nom du site :</strong>
                        <br>
                        {{ form_widget(edit_form.name, {'attr' : {'class' : 'form-control' }} ) }}
                        <strong>Adresse :</strong>
                        <br>
                        {{ form_widget(edit_form.address, { 'attr' : { 'class' : 'form-control'}} ) }}
                        <strong>Ville :</strong>
                        <br>
                        {{ form_widget(edit_form.city, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-blue text-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Horaires</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <br>
                        Ouverture : {{ form_widget(edit_form.openingHour) }}
                        <br>
                        Fermeture : {{ form_widget(edit_form.closingHour) }}
                    </address>
                    <address>
                        <strong>Coupure midi</strong>
                        <br>
                        De : {{ form_widget(edit_form.breakStart) }}
                        <br>
                        A : {{ form_widget(edit_form.breakEnd) }}
                    </address>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="well">
        <a href="{{ path('site') }}"><button class="btn btn-primary">Retour à la liste des sites</button></a>
        <button type="submit" class="btn btn-success">Mettre à jour le site</button>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
