{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li class="active">Sites</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    <div class="row">

        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-10 -->
        <div class="col-md-12">
            {% if sites %}
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ title_page }}</h4>
                    </div>
                    <div class="panel-body">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Ville</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in sites %}
                                <tr class="odd gradeX">
                                    <td><a href="{{ path('site_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                    <td>{{ entity.city }}</td>
                                    <td>
                                        <a href="{{ path('site_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                        {% if is_granted('ROLE_ADMIN') == true %}
                                            <a href="{{ path('site_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                            {% if entity.enabled == true %}
                                                <a href="{{ path('site_delete', { 'id': entity.id }) }}"><button class="btn btn-danger"><i class="material-icons">highlight_off</i></button></a>
                                            {% else %}
                                                <a href="{{ path('site_enable', { 'id': entity.id }) }}"><button class="btn btn-success"><i class="material-icons">power_settings_new</i></button></a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            {% else %}
                <div class="alert alert-info">Aucun site de disponible</div>
            {% endif %}
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
    {% if is_granted('ROLE_ADMIN') == true %}
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="btn btn-block btn-primary no-radius pa15 mt0" data-toggle="modal"
                   data-target="#ModaleSiteNew">
                    <i class="fa fa-building"></i> Ajouter un site
                </a>
            </div>
        </div>
        {{ include('@Backend/Blocs/modale_site_new.html.twig') }}
    {% endif %}
{% endblock %}
