{% extends 'BackendBundle::template.html.twig' %}

{% block body %}
    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nom du site</label>
                        {{ form_errors(form.name) }}
                        <div class="col-md-9">
                            {{ form_widget(form.name, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Heure d'ouverture</label>
                        <div class="col-md-9">
                            {{ form_widget(form.openingHour, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Heure de fermeture</label>
                        {{ form_errors(form.closingHour) }}
                        <div class="col-md-9">
                            {{ form_widget(form.closingHour, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Début de pause déjeuner</label>
                        {{ form_errors(form.breakStart) }}
                        <div class="col-md-9">
                            {{ form_widget(form.breakStart, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Fin de pause déjeuner</label>
                        {{ form_errors(form.breakEnd) }}
                        <div class="col-md-9">
                            {{ form_widget(form.breakEnd, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Ville</label>
                        {{ form_errors(form.city) }}
                        <div class="col-md-9">
                            {{ form_widget(form.city, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Adresse du site</label>
                        {{ form_errors(form.address) }}
                        <div class="col-md-9">
                            {{ form_widget(form.address, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('site') }}"><button class="btn btn-primary">Revenir à la liste des centres de formations</button></a>
            </div>
        </div>
    </div>
{% endblock %}
