{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('site') }}">Sites</a></li>
                <li class="active">Détails du site : {{ entity.name }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    {% if entity.enabled == false %}
        <hr>
        <div class="col-lg-12">
            <div class="alert alert-warning"><i class="material-icons">report</i> Attention, ce site a été archivé
            . Les modules, promotions, ainsi que le planification ne sont pas accessibles pour ce site. Veuillez le
            réactiver si vous souhaitez réaliser des actions citées précédemment.</div>
        </div>
    {% endif %}
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Nom du site :</strong>
                        <br>
                        {{ entity.name }}
                        <br>
                        <strong>Adresse :</strong>
                        <br>
                        <ul>
                            <li>Adresse : {{ entity.address }}</li>
                            <li>Ville : {{ entity.city }}</li>
                        </ul>
                        <strong>Nombre de salles :</strong>
                        {{ (countRooms > 0) ? countRooms ~ ' salles' : "Aucune salle." }}
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-blue text-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Horaires</h4>
                </div>
                <div class="panel-body text-black">
                    <address>
                        <strong>Horaires d'ouverture</strong>
                        <br>
                        De {{ entity.openingHour | date('H:i')}} à {{ entity.closingHour | date('H:i')}}
                    </address>
                    <address>
                        <strong>Coupure midi</strong>
                        <br>
                        De {{ entity.breakStart | date('H:i')}} à {{ entity.breakEnd | date('H:i')}}
                    </address>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="well">
        <a href="{{ path('site') }}"><button class="btn btn-primary">Retour à la liste des sites</button></a>
        {% if is_granted('ROLE_ADMIN') %}
            {% if entity.enabled == false %}
                <a href="{{ path('site_enable', { 'id': entity.id }) }}"><button class="btn btn-success">Activer le site</button></a>
            {% else %}
                <a href="{{ path('site_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier le site</button></a>
                <a href="{{ path('site_delete', { 'id': entity.id }) }}"><button class="btn btn-danger">Archiver le site</button></a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
