{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% include ':Elements:errors.html.twig' %}
    <!-- begin login -->
    <div class="login bg-grey-900 animated fadeInDown">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand text-inverse">
                <span class="logo"></span> ENI - OSMOSE
                <small>Gestion des plannings de formation</small>
            </div>
            <div class="icon">
                <i class="material-icons">lock</i>
            </div>
        </div>
        <!-- end brand -->
        <div class="login-content">
            <form name="form-register" action="{{ path("fos_user_security_check") }}" method="post" class="margin-bottom-0">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group m-b-20">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" data-parsley-type="text" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control input-lg without-border inverse-mode"/>
                </div>
                <div class="form-group m-b-20">
                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control input-lg without-border inverse-mode"/>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Connexion</button>
                </div>
                <div class="m-t-20 m-b-40 ">
                    <a class="btn btn-block btn-warning" href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe</a>
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
{% endblock fos_user_content %}