{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                <li class="active">Modification de l'utilisateur : {{ entity.firstname }} {{ entity.lastname }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        {{ form_start(edit_form, {'attr' : {'class' : 'form-horizontal' }} ) }}
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Prénom :</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.firstname) }}
                            {{ form_widget(edit_form.firstname, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nom d'utilisateur</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.username) }}
                            {{ form_widget(edit_form.username, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nom :</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.lastname) }}
                            {{ form_widget(edit_form.lastname, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">E-mail :</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.email) }}
                            {{ form_widget(edit_form.email, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan">
                <div class="panel-heading">
                    <h4 class="panel-title text-white">Localisation & Rôle(s)</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Site de rattachement</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.site) }}
                            {{ form_widget(edit_form.site, {'attr' : {'class' : 'form-control' }} ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Rôle de l'utilisateur</label>
                        <div class="col-md-9">
                            {{ form_errors(edit_form.roles) }}
                            {{ form_widget(edit_form.roles, { 'attr' : { 'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
                <a href="{{ path('user_index') }}"><button class="btn btn-primary">Revenir à la liste des utilisateurs</button></a>
            </div>
        </div>
        {{ form_end(edit_form) }}
        <!-- end col-6 -->
    </div>
{% endblock %}
