{% extends 'BackendBundle::template.html.twig' %}

{% block body %}
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Accueil</a></li>
        <li class="active">{{ title_page }}</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">{{ title_page }} <small>Osmose</small></h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        {{ include(':Elements:errors.html.twig') }}
        <!-- begin col-10 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ title_page }}</h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Prénom & Nom</th>
                            <th>Spécialité</th>
                            <th>Groupe</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr class="odd gradeX">
                                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">#{{ entity.id }}</a></td>
                                <td>{{ entity.firstname }} {{ entity.lastname }}</td>
                                <td>PHP / Symfony 2 / HTML & CSS</td>
                                <td>
                                    {% for role in entity.roles %}
                                        {{ (role == "ROLE_USER") ? '' : role }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('user_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="material-icons">search</i></button></a>
                                    <a href="{{ path('his_slots', { 'id': entity.id }) }}"><button class="btn btn-inverse"><i class="material-icons">insert_invitation</i></button></a>
                                    <a href="{{ path('user_edit', { 'id': entity.id }) }}"><button class="btn btn-warning"><i class="material-icons">edit</i></button></a>
                                    {% if entity.enabled == true %}
                                        <a href="{{ path('user_disable', { 'id': entity.id }) }}"><button class="btn btn-danger"><i class="material-icons">highlight_off</i></button></a>
                                    {% else %}
                                        <a href="{{ path('user_enable', { 'id': entity.id }) }}"><button class="btn btn-success"><i class="material-icons">power_settings_new</i></button></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('user_new') }}"><button type="button" class="btn btn-sm btn-success">Ajouter un nouvel utilisateur</button></a>
            </div>
        </div>
    </div>
{% endblock %}
