{% extends 'BackendBundle::template.html.twig' %}

{% block body %}
<!-- begin row -->
<div class="row">
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin col-6 -->
    {{ form_start(form, {'attr' : {'class' : 'form-horizontal' }} ) }}
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Informations générales</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Nom</label>
                    <div class="col-md-9">
                        {{ form_errors(form.lastname) }}
                        {{ form_widget(form.lastname, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Prénom</label>
                    <div class="col-md-9">
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nom d'utilisateur</label>
                    <div class="col-md-9">
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Adresse e-mail</label>
                    <div class="col-md-9">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr' : {'class' : 'form-control' }} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Mot de passe</label>
                    <div class="col-md-9">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'Mot de passe'}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirmer le mot de passe</label>
                    <div class="col-md-9">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control' ,'placeholder' : 'Confirmer le mot de passe'}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Rôle de l'utilisateur</label>
                    <div class="col-md-9">
                        {{ form_errors(form.roles) }}
                        {{ form_widget(form.roles, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Site de rattachement</label>
                    <div class="col-md-9">
                        {{ form_errors(form.site) }}
                        {{ form_widget(form.site, { 'attr' : { 'class' : 'form-control'}} ) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <div class="col-lg-12">
        <div class="well">
            <button type="submit" class="btn btn-success">Enregistrer l'utilisateur</button>
            <a href="{{ path('user_index') }}"><button class="btn btn-primary">Revenir à la liste des utilisateurs</button></a>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
