{% extends 'BackendBundle::template.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb hidden-print pull-right">
                <li><a href="{{ path('planning_home') }}">Tableau de bord</a></li>
                <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                <li class="active">Détails de l'utilisateur : {{ entity.username }}</li>
            </ol>
            <!-- end breadcrumb -->
        </div>
    </div>
    <hr>
    {{ include(':Elements:errors.html.twig') }}
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Informations générales</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Prénom :</strong>
                        <br>
                        {{ entity.firstname }}
                        <br>
                        <strong>Nom :</strong>
                        <br>
                        {{ entity.lastname }}
                        <br>
                        <strong>Dernière connexion :</strong>
                        <br>
                        {{ entity.lastLogin |date('d-m-Y H:i:s') }}
                        <br>
                        <strong>Activé :</strong>
                        <br>
                        {{ (entity.enabled == true) ? 'Oui' : 'Non' }}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-cyan">
                <div class="panel-heading text-white">
                    <h4 class="panel-title">Localisation & Rôle(s)</h4>
                </div>
                <div class="panel-body">
                    <address>
                        <strong>Site de rattachement :</strong>
                        <br>
                        {{ entity.site ? entity.site.name : 'Aucun' }}
                        <br>
                        <strong>Rôle(s) :</strong>
                        <br>
                        {% for role in entity.roles %}
                            {{ role }} |
                        {% endfor %}
                        <br>
                    </address>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <div class="col-md-12">
            <div class="well">
                <a href="{{ path('user_index') }}"><button class="btn btn-primary">Revenir à la liste des modules</button></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_edit', { 'id': entity.id }) }}"><button class="btn btn-warning">Modifier l'utilisateur</button></a>
                    <a href="{{ path('user_disable', { 'id': entity.id }) }}"><button class="btn btn-danger">Supprimer l'utilisateur</button></a
                {% endif %}
            </div>
        </div>
        <!-- end col-6 -->
    </div>
{% endblock %}
