<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Osmose | Accès à l'espace membre</title>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />

        <!-- ================== BEGIN BASE CSS STYLE ================== -->
        {% include 'FOSUserBundle:Elements:inclusion_css.html.twig' %}
        <!-- ================== END BASE CSS STYLE ================== -->

        <!-- ================== BEGIN BASE JS ================== -->
        {% include 'FOSUserBundle:Elements:inclusion_js_top.html.twig' %}
        <!-- ================== END BASE JS ================== -->
    </head>
    <body class="pace-top bg-white">
        <div id="page-container" class="fade">
            {% block body %}
            {% endblock body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            {% block hwi_oauth_content %}
            {% endblock hwi_oauth_content %}
        </div>
        <!-- ================== BEGIN BASE JS ================== -->
        {% include 'FOSUserBundle:Elements:inclusion_js_bottom.html.twig' %}

        <script>
            $(document).ready(function() {
                App.init();
            });
        </script>
    </body>
</html>