{% extends "ShootngoUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<!-- START Template Container -->
<section class="container container-login">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 animation" data-toggle="waypoints" data-showanim="fadeInDown" data-offset="80%">
            <!-- Brand -->
            <div class="text-center mb10">
                <span class="logo-text inverse"></span>
                {% trans_default_domain 'FOSUserBundle' %}
                {% include ':Elements:errors.html.twig' %}
            </div>
            <!--/ Brand -->

            <!-- Register form -->
            <form action="{{ path("fos_user_resetting_send_email") }}" method="post" class="panel">
                <ul class="list-table pa15">
                    <li>
                        <!-- Alert message -->
                        <div class="nm">
                            <p class="semibold text-center nm">Mot de passe oublié</p>
                        </div>
                        <!--/ Alert message -->
                    </li>
                </ul>
                <hr class="nm">
                <div class="panel-body">
                    <div class="logo-form">
                        <img src="{{ asset('img/frame-v1/logo/logo.png') }}" alt="logo" title="Shoot And Go">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nom d'utilisateur ou adresse e-mail</label>
                        <input type="text" id="username" name="_username" placeholder="{{ 'resetting.request.username'|trans }}" required="required" class="form-control input-lg" data-parsley-type="text" data-parsley-required>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="_submit" name="_submit" type="submit" class="btn btn-block btn-primary"><span class="semibold">Réinitialiser le mot de passe</span></button>
                </div>
            </form>
            <!-- Register form -->
        </div>
    </div>
</section>
<!--/ END Template Container -->
<footer id="footer-login">
    <div class="row">
        <ul class="list-inline text-center">
            <li><a href="{{ path('index-front') }}">Accueil</a></li>
            <li><a href="javascript:void(0);">À propos</a></li>
            <li><a href="javascript:void(0);">CGU</a></li>
            <li><a href="javascript:void(0);">Confidentialité</a></li>
            <li><a href="javascript:void(0);">Cookies</a></li>
            <li><a href="javascript:void(0);">Premium</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
            <li><a href="javascript:void(0);">Aide</a></li>
        </ul>
    </div>
    <span class="copy text-center text-white">Shoot And Go © 2016</span>
</footer>
{% endblock fos_user_content %}
