{% extends "::layout_back.html.twig" %}
{% block fos_user_content %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Accueil</a></li>
    <li class="active">Mon profil</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Mon profil <small>Osmose</small></h1>
<!-- end page-header -->

<div class="profile-container">
    <!-- begin profile-section -->
    <div class="profile-section">
        <!-- begin profile-info -->
        <div class="profile-info">
            <!-- begin table -->
            <div class="table-responsive">
                <table class="table table-profile">
                    <thead>
                    <tr>
                        <th></th>
                        <th>
                            <h4>{{ user.firstname }} {{ user.lastname }}<small> ENI - Ecole Informatique</small></h4>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="field">Nom d'utilisateur</td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="field">E-mail</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="field">Dernière connexion</td>
                        <td>{{ user.lastLogin |date('d/m/Y H:i', timezone="Europe/Paris") }}</td>
                    </tr>
                    <tr class="divider">
                        <td colspan="2"></td>
                    </tr>
                    <tr class="highlight">
                        <td class="field">Rôle(s)</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                Administrateur
                            {% elseif is_granted('ROLE_FORMATEUR') %}
                                Formateur
                            {% else %}
                                Utilisateur anonyme
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="{{ path('user_profile_edit') }}"><button class="btn btn-warning">Modifier mon profil</button></a>
            <a href="{{ path('user_change_password') }}"><button class="btn btn-inverse">Modifier mon mot de passe</button></a>
            <!-- end table -->
        </div>
        <!-- end profile-info -->
    </div>
    <!-- end profile-section -->
</div>
<!-- end profile-container -->
{% endblock fos_user_content %}
