<link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ asset('Common/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/css/animate.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/css/style.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/css/style-responsive.min.css')}}" rel="stylesheet" />
<link href="{{ asset('Common/css/theme/default.css')}}" rel="stylesheet" id="theme" />