<!-- ================== BASE JS ================== -->
<script src="{{ asset('Common/plugins/jquery/jquery-1.9.1.min.js')}}"></script>
<script src="{{ asset('Common/plugins/jquery/jquery-migrate-1.1.0.min.js')}}"></script>
<script src="{{ asset('Common/plugins/jquery-ui/ui/minified/jquery-ui.min.js')}}"></script>
<script src="{{ asset('Common/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('Common/plugins/jquery/jquery-1.9.1.min.js')}}"></script>
<!--[if lt IE 9]>
    <script src="{{ asset('Common/crossbrowserjs/html5shiv.js')}}"></script>
    <script src="{{ asset('Common/crossbrowserjs/respond.min.js')}}"></script>
    <script src="{{ asset('Common/crossbrowserjs/excanvas.min.js')}}"></script>
<![endif]-->
<script src="{{ asset('Common/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{ asset('Common/plugins/jquery-cookie/jquery.cookie.js')}}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{{ asset('Common/js/apps.min.js')}}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->