<ul class="list-group list-group-tabs mb10">
    <li class="list-group-item np">
        <a href="{{ path('show_profile') }}"><i class="ico-user text-{{ (action == 'all') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>Vue d'ensemble</a>
    </li>
    <li class="list-group-item np">
        <a href="{{ path('spot_member_edit_list') }}"><i class="ico-map-marker text-{{ (action == 'gestion-spot') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>Gérer mes spots</a>
    </li>
    <li class="list-group-item np">
        <a href="{{ path('edit_profile') }}"><i class="ico-pencil3 text-{{ (action == 'edit-profil') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>&Eacute;diter mon profil</a>
    </li>
    <li class="list-group-item np">
        <a href="{{ path('member_verify_account') }}"><i class="ico-bullseye text-{{ (action == 'verify') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>Vérifier mon compte</a>
    </li>
    <li class="list-group-item np">
        <a href="{{ path('change_password') }}"><i class="ico-wrench3 text-{{ (action == 'setting') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>Paramètres</a>
    </li>
    <li class="list-group-item np">
        <a href="{{ path('transactions_list') }}"><i class="ico-coins text-{{ (action == 'historique') ? 'danger' : 'primary' }} fsize16 valign-middle mr5"></i>Historique de paiement</a>
    </li>
</ul>